<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Poloniex-trader configuration</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/stylesheets/frontend.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Poloniex-trader</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Poloniex-trader - <%- config.market %></h1>
        <!--<p class="lead">Use this web interface to quickly configure the program.<br> No need to use the terminal anymore, everything in one interface.</p>-->
      </div>

      <% if (error) { %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%- error %>
      </div>
      <% } %>

      <div class="row">
        <ul class="market-ticker">
          <li><b>Last price</b> <%- trades.lastPrice() %></li>
          <li><b>Bid</b><%- backend.bid() %></li>
          <li><b>Ask</b><%- backend.ask() %></li>
          <li><b>Spread</b><%- backend.spread().toFixed(8) %></li>
        </ul>
      </div>
      

      <div class="row">
        <div class="col-md-6">
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h2 class= "panel-title">Make a buy order (buy <%- config.curr2 %> with <%- config.curr1 %>)</h2>
            </div>
            <div class = "panel-body">
              <ul class="list-group">
                <% for (var key in config.buyOrders) { 
                  var order = config.buyOrders[key];
                %>
                <li class="list-group-item"><b><%- (+key+1) %></b> - <%- JSON.stringify(order) %> 
                <small>
                  <form method="post" id="remove-buyorder-<%- key %>" class="form-inline">
                  <a href='#' onclick="document.getElementById('remove-buyorder-<%- key %>').submit()">remove</a>
                  <input type="hidden" name="action" value="remove-buyorder">
                  <input type="hidden" name="key" value="<%- key %>">
                  </form>
                </small>
                </li>
                <% } %>
              </ul>

              <form method="post" class="">
                <h3>Conditions</h3>
                <fieldset class="form-group form-row">
                  <label for="buy-avail-percent" class="col-sm-3">Balance available</label>
                  <div class="input-group col-sm-9">
                     <input type="text" class="form-control" id="buy-avail-percent" name="buy-avail-percent" placeholder="90" value="0">
                     <span class="input-group-addon">%</span>
                  </div>
                </fieldset>
                <fieldset class="form-group form-row">
                  <label for="buy-avail-min" class="col-sm-3 col-form-label">Minimum balance</label>
                  <div class="input-group col-sm-9">
                     <input type="text" class="form-control" id="buy-avail-min" name="buy-avail-min" placeholder="0.100" value="0">
                    <div class="input-group-addon"><%- config.curr1 %></div>
                  </div>
                </fieldset>

                <h3>Order</h3>
                <fieldset class="form-group form-row">
                  <label for="buy-price" class="col-sm-3">Buy Price</label>
                  <div class="input-group col-sm-9">
                     <input type="text" class="form-control" id="buy-price" name="buy-price" placeholder="bid + (ask-bid)/20">
                  </div>
                  <p><small>Variables: ask, bid, spread</small></p>
                </fieldset>
                <fieldset class="form-group form-row">
                  <label for="buy-amount" class="col-sm-3">BTC Amount</label>
                  <div class="input-group col-sm-9">
                     <input type="text" class="form-control" id="buy-amount" name="buy-amount" placeholder="available/10">
                  </div>
                  <p><small>Variables: available, onOrders, total</small></p>
                </fieldset>

                <input type="hidden" name="action" value="buyorder">
                <input type="submit" class="btn btn-primary pull-right" value="Add order">
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h2 class= "panel-title">Make a sell order (sell <%- config.curr2 %> for <%- config.curr1 %>)</h2>
            </div>
            <div class = "panel-body">
              <ul class="list-group">
                <% for (var key in config.sellOrders) { 
                  var order = config.sellOrders[key];
                %>
                <li class="list-group-item"><b><%- (+key+1) %></b> - <%- JSON.stringify(order) %> 
                <small>
                  <form method="post" id="remove-sellorder-<%- key %>" class="form-inline">
                  <a href='#' onclick="document.getElementById('remove-sellorder-<%- key %>').submit()">remove</a>
                  <input type="hidden" name="action" value="remove-sellorder">
                  <input type="hidden" name="key" value="<%- key %>">
                  </form>
                </small>
                </li>
                <% } %>
              </ul>

              <form method="post">
                <h3>Conditions</h3>
                <fieldset class="form-group form-row">
                  <label for="sell-avail-percent" class="col-sm-3">Balance available</label>
                  <div class="input-group col-sm-9">
                     <input type="text" class="form-control" id="sell-avail-percent" name="sell-avail-percent" placeholder="90" value="0">
                    <div class="input-group-addon">%</div>
                  </div>
                </fieldset>
                <fieldset class="form-group form-row">
                  <label for="sell-avail-min" class="col-sm-3">Minimum balance</label>
                  <div class="input-group col-sm-9">
                     <input type="text" class="form-control" id="sell-avail-min" name="sell-avail-min" placeholder="0.100" value="0">
                    <div class="input-group-addon"><%- config.curr2 %></div>
                  </div>
                </fieldset>

                <h3>Order</h3>
                <fieldset class="form-group form-row">
                  <label for="sell-price" class="col-sm-3">Sell Price</label>
                  <div class="input-group col-sm-9">
                     <input type="text" class="form-control" id="sell-price" name="sell-price" placeholder="bid + (ask-bid)/20">
                  </div>
                  <p><small>Variables: ask, bid, spread</small></p>
                </fieldset>
                <fieldset class="form-group form-row">
                  <label for="sell-amount" class="col-sm-3">BTC Amount</label>
                  <div class="input-group col-sm-9">
                     <input type="text" class="form-control" id="sell-amount" name="sell-amount" placeholder="available/10">
                  </div>
                  <p><small>Variables: available, onOrders, total</small></p>
                </fieldset>

                <input type="hidden" name="action" value="sellorder">
                <input type="submit" class="btn btn-primary pull-right" value="Add order">
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h2 class= "panel-title">Analysis for time period</h2>
            </div>
            <div class = "panel-body">

              <form method="get">
                <fieldset class="form-group">
                  <label for="time">Enter time frame</label>
                  <input type="text" class="form-control" name="time" id="time" placeholder="2h15m30s-1h15m" value="<%- config.time %>">
                </fieldset>
                <p><small>h: hour, m: minute, s: second. eg: 1h15m20s. Can enter range (from 2h ago to 1h ago: 2h-1h).</small></p>
                <ul class="market-ticker">
                  <li><b>Average</b> <%- trades.average(config.begin, config.end).toFixed(8) %></li>
                  <li><b>Volume</b><%- trades.volume(config.begin, config.end).toFixed(3) %></li>
                  <li><b>Low</b><%- trades.low(config.begin, config.end) %></li>
                  <li><b>High</b><%- trades.high(config.begin, config.end) %></li>
                </ul>
                <input type="submit" class="btn btn-primary pull-right" value="Analyze">
              </form>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h2 class= "panel-title">Balances and active trades</h2>
            </div>
            <div class = "panel-body">
              <ul class="list-group">
                <% for (var key in config.balances) { 
                  var avail = +config.balances[key].available;
                  var orders = +config.balances[key].onOrders;
                  var percent = 0;
                  if (avail > 0) {
                    percent = avail*100 / (avail+orders);
                  }
                %>
                <li class="list-group-item"><b><%- key %></b> <%- avail + " (on orders: " + orders + ")" %>
                  <small> <%- percent %>% available</small></li>
                <% } %>
                <% for (var i = 0; i < (config.openOrders||[]).length; i = i + 1) { %>
                <li class="list-group-item"><b><%- config.openOrders[i].type %></b> at <%- config.openOrders[i].rate + ", qty: " + config.openOrders[i].amount 
                + " (total: " + config.openOrders[i].total + ")" %></li>
                <% } %>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h2 class= "panel-title">Config</h2>
            </div>
            <div class = "panel-body">

              <form method="post">
                <fieldset class="form-group">
                  <label for="market">Enter market</label>
                  <select class="form-control" name="market" id="market">
                  <% for(var i=0; i < config.markets.length; i++) { %>
                     <option <% if (config.markets[i] == config.market){ %>selected<% } %>><%- config.markets[i] %></option>
                  <% } %>
                  </select>
                </fieldset>

                <fieldset class="form-group">
                  <label for="apikey">Enter API key</label>
                  <input type="text" class="form-control" name="apikey" id="apikey" placeholder="API key" value="<%- config.api.key %>">
                </fieldset>

                <fieldset class="form-group">
                  <label for="apikey">Enter API secret</label>
                  <input type="text" class="form-control" name="apisecret" id="apisecret" placeholder="API secret" value="<%- config.api.secret %>">
                </fieldset>

                <input type="hidden" name="action" value="glconf">
                <input type="submit" class="btn btn-primary pull-right" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>

    </div><!-- /.container -->
    <!-- <%- config.begin %> <%- config.end %> -->

    <script src="/assets/javascript/jquery.min.js"></script>
    <script src="/assets/javascript/frontend.js"></script>
    <script src="/assets/javascript/backend.js"></script>
  </body>
</html>  