<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Poloniex-trader configuration</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/stylesheets/frontend.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Poloniex-trader</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Poloniex-trader - <%- market %></h1>
        <!--<p class="lead">Use this web interface to quickly configure the program.<br> No need to use the terminal anymore, everything in one interface.</p>-->
      </div>

      <% if (error) { %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%- error %>
      </div>
      <% } %>

      <div class="row">
        <ul class="market-ticker">
          <li><b>Last price</b> <%- trades.rate() %></li>
          <li><b>Volume</b><%- trades.volume().toFixed(3) %></li>
          <li><b>Bid</b></li>
          <li><b>Ask</b></li>
          <li><b>Spread</b></li>
        </ul>
      </div>
      
      <div class="row">
        <p class="lead">For time period</p>
        <ul class="market-ticker">
          <li><b>Sell</b> <%- trades.average('sell').toFixed(8) %></li>
          <li><b>Buy</b><%- trades.average('buy').toFixed(8) %></li>
          <li><b>Rate</b><%- trades.average().toFixed(8) %></li>
          <li><b>High</b><%- trades.high() %></li>
          <li><b>Low</b><%- trades.low() %></li>
        </ul>
      </div>

    </div><!-- /.container -->

    <script src="/assets/javascript/jquery.min.js"></script>
    <script src="/assets/javascript/frontend.js"></script>
    <script src="/assets/javascript/backend.js"></script>
  </body>
</html>  