<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Poloniex-trader configuration</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/assets/stylesheets/frontend.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Poloniex-trader</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Poloniex-trader - <%- market %></h1>
        <!--<p class="lead">Use this web interface to quickly configure the program.<br> No need to use the terminal anymore, everything in one interface.</p>-->
      </div>

      <% if (error) { %>
      <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        <%- error %>
      </div>
      <% } %>

      <div class="row">
        <ul class="market-ticker">
          <li><b>Last price</b> <%- trades.lastPrice() %></li>
          <li><b>Bid</b></li>
          <li><b>Ask</b></li>
          <li><b>Spread</b></li>
        </ul>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class = "panel panel-default">
            <div class = "panel-heading">
              <h2 class= "panel-title">Time period</h2>
            </div>
            <div class = "panel-body">

              <form method="get">
                <fieldset class="form-group">
                  <label for="url">Enter time frame</label>
                  <input type="text" class="form-control" name="time" id="time" placeholder="2h15m30s-1h15m" value="<%- config.time %>">
                </fieldset>
                <p><small>h: hour, m: minute, s: second. eg: 1h15m20s. Can enter range (from 2h ago to 1h ago: 2h-1h).</small></p>
                <ul class="market-ticker">
                  <li><b>Average</b> <%- trades.average(config.begin, config.end).toFixed(8) %></li>
                  <li><b>Volume</b><%- trades.volume(config.begin, config.end).toFixed(3) %></li>
                  <li><b>Low</b><%- trades.low(config.begin, config.end) %></li>
                  <li><b>High</b><%- trades.high(config.begin, config.end) %></li>
                </ul>
                <input type="submit" class="btn btn-primary pull-right" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.container -->
    <!-- <%- config.begin %> <%- config.end %> -->

    <script src="/assets/javascript/jquery.min.js"></script>
    <script src="/assets/javascript/frontend.js"></script>
    <script src="/assets/javascript/backend.js"></script>
  </body>
</html>  